
    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="background-color: #262451;">
      <div class="container" style="color: #FFFF;">
        <div class="row">

          <div class="col-lg-4 col-md-4 footer-contact">
            <h4>CONTACT US</h4>
            <p>
              UK <br>
              Phone: 0000 000000<br>
              Email: info@asb.co.uk<br>
              Address: London, UK<br>
              UK Registration No:14178685<br>
            </p><br>
            <p>
              Qatar <br>
              Phone: +974 3070 2322<br>
              Email: info@asb.qa<br>
              Address: Doha, Qatar<br>
              Qatar Registration No: 144194<br>
            </p>
          </div>


          <div class="col-lg-4 col-md-4 footer-newsletter">
            <h4>EMAIL US</h4>
            <form id="post-form" action="{% url 'emailsender' %}" method="post">
              {% csrf_token %}
              <input type="text" placeholder="NAME" name="name" class="name form-control mt-2" required>
              <input type="email" placeholder="EMAIL" name="email" class="email form-control mt-2" required>
              <input type="number" placeholder="PHONE" name="phone" class="phone form-control mt-2">
              <input type="text" placeholder="MESSAGE" name="message" class="message form-control mt-2" required><br>
              <input id="submit" style="background-color: #A64B8D; color: #FFFF;" class="btn" type="submit" class="form-control">
            </form>
          </div>
          <div class="col-lg-4 col-md-4 footer-links">
            <h4>PAGES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'company' %}">Our Comapny</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'expertise' %}">Our expertise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'projects' %}">Our projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'join' %}">Join Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'media' %}">Media</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

<!--    <div class="container d-md-flex py-4">-->

<!--      <div class="me-md-auto text-center text-md-start">-->
<!--        <div class="copyright">-->
<!--          &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved-->
<!--        </div>-->
<!--        <div class="credits">-->
<!--          &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--          &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--          &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--          &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ &ndash;&gt;-->
<!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
<!--    </div>-->
  </footer>
  <!-- End Footer -->
    