
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'homepage' %}"><img src="static/img/logo-03.png"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="{% url 'company' %}">OUR COMPANY</a></li>
            <li><a class="nav-link scrollto" href="{% url 'expertise' %}">OUR EXPERTISE</a></li>
            <li><a class="nav-link scrollto" href="{% url 'projects' %}">OUR PROJECTS</a></li>
            <li><a class="nav-link scrollto o" href="{% url 'join' %}">JOIN OUR TEAM</a></li>
            <li><a class="nav-link scrollto" href="{% url 'media' %}">MEDIA</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->
