{% extends 'base.html' %}
  
{% block maincontent %}
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height:96%">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 text-center">
          <h3>DECADES OF EXPERIENCE</h3>
          <h1>FOCUSING ON SOLUTIONS</h1>
        </div>
      </div>


      </div>
    </div>
  </section>
  <div style="height: 50px; background-color:#A64B8D; position:relative"></div>
  <!-- End Hero -->

  <main id="main">

    <div id="bui" style="background-image: url('static/img/bui.gif'); background-size: cover">
      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. </p>-->
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h6><b>Engineered Solution Provider</b></h6>
            <p>ASB is a solutions oriented, integrated trading platform that aims at
                disrupting the traditional procurement value chain for developers by
                connecting them to experienced, cost efficient and technologically superior
                suppliers in the world, A premier provider of architectural envelope systems.</p>
            <h6><b>Global Network</b></h6>
            <p>Extensive and deep relationships with leading global manufacturers
                suppliers of building materials with a focus on Eastern Europe and China</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h6><b>Trusted Platform</b></h6>
            <p>The platform is a consortium of relevant, experienced, and motivated
                stakeholders that have come together in order to address their own
                procurement requirements and offering the same to large developers of scale.</p>
            <h6><b>Seasoned Experts</b></h6>
            <p>The platform will be managed by team of engineers and supervisors that have
                sourced and successfully delivered cost effective solutions to major projects
                in the GCC</p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center p-5">
          <h3>WE ARE THE BEST</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
        </div>
      </div>
    </section>
    </div>
    <!-- End Cta Section -->


  <div class="row content">
<!--    row 1-->
    <div class="">
      <div id="leftbox" class="col-lg-6" style="background-image: url('static/img/block/block1.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgba(38, 36, 81, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6" style="background-image: url('static/img/block/block2.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgb(154, 67, 127, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
    </div>
<!--    row 2-->
      <div>
        <div id="leftbox" class="col-lg-6" style="background-image: url('static/img/block/block3.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgb(154, 67, 127, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6" style="background-image: url('static/img/block/block4.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgba(38, 36, 81, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      </div>
<!--    row 3-->
    <div style="background-image: url('static/img/block/block5.jpg');background-size: cover; height:600px;">
      <div id="leftbox" class="col-lg-6">
        <div style="background-color: rgba(255, 255, 255, 0.8);height:600px;">
          <div class="text-center p-5" style="color:#000;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6">
        <div style="height:600px;">
        </div>
        </div>
    </div>
  </div>
    <div class="invite p-3">
      <div class="text-center" style="color:#FFFF;">
          <h3>WORK WITH EXPERTS</h3>
          <div class="text-center"><button style="background-color: #262451; color: #FFFF;" class="btn" type="submit">INQUIRE</button></div>
          </div>
    </div>

  </main>
  <!-- End #main -->
  {% endblock maincontent %}