<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ASB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.8.1
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
  html, body {
  height: 100%;
  margin: 0;
}
</style>
 <style>
            #leftbox {
                float:left;
                width:50%;
                height:400px;
            }
            #rightbox{
                float:right;
                width:50%;
                height:400px;
            }
        </style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html"><img src="static/img/logo-03.png"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">OUR COMPANY</a></li>
          <li><a class="nav-link scrollto" href="#about">OUR EXPERTISE</a></li>
          <li><a class="nav-link scrollto" href="#services">OUR PROJECTS</a></li>
          <li><a class="nav-link scrollto o" href="#portfolio">JOIN OUR TEAM</a></li>
          <li><a class="nav-link scrollto" href="#team">MEDIA</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height:96%">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 text-center">
          <h3>DECADES OF EXPERIENCE</h3>
          <h1>FOCUSING ON SOLUTIONS</h1>
        </div>
      </div>


      </div>
    </div>
  </section>
  <div style="height: 50px; background-color:#A64B8D; position:relative"></div>
  <!-- End Hero -->

  <main id="main">

    <div id="bui" style="background-image: url('static/img/bui.gif'); background-size: cover">
      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. </p>-->
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h6><b>Engineered Solution Provider</b></h6>
            <p>ASB is a solutions oriented, integrated trading platform that aims at
                disrupting the traditional procurement value chain for developers by
                connecting them to experienced, cost efficient and technologically superior
                suppliers in the world, A premier provider of architectural envelope systems.</p>
            <h6><b>Global Network</b></h6>
            <p>Extensive and deep relationships with leading global manufacturers
                suppliers of building materials with a focus on Eastern Europe and China</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h6><b>Trusted Platform</b></h6>
            <p>The platform is a consortium of relevant, experienced, and motivated
                stakeholders that have come together in order to address their own
                procurement requirements and offering the same to large developers of scale.</p>
            <h6><b>Seasoned Experts</b></h6>
            <p>The platform will be managed by team of engineers and supervisors that have
                sourced and successfully delivered cost effective solutions to major projects
                in the GCC</p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center p-5">
          <h3>WE ARE THE BEST</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
        </div>
      </div>
    </section>
    </div>
    <!-- End Cta Section -->


  <div class="row content">
<!--    row 1-->
    <div class="">
      <div id="leftbox" class="col-lg-6" style="background-image: url('static/img/block/block1.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgba(38, 36, 81, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6" style="background-image: url('static/img/block/block2.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgb(154, 67, 127, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
    </div>
<!--    row 2-->
      <div>
        <div id="leftbox" class="col-lg-6" style="background-image: url('static/img/block/block3.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgb(154, 67, 127, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6" style="background-image: url('static/img/block/block4.jpg');background-size: cover; height:400px;">
        <div style="background-color: rgba(38, 36, 81, 0.8);height:400px;">
          <div class="text-center p-5" style="color:#FFFF;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      </div>
<!--    row 3-->
    <div style="background-image: url('static/img/block/block5.jpg');background-size: cover; height:600px;">
      <div id="leftbox" class="col-lg-6">
        <div style="background-color: rgba(255, 255, 255, 0.8);height:600px;">
          <div class="text-center p-5" style="color:#000;">
          <h3>TITLE</h3>
          <p><b>ABS has been giving best consultation on the construction of<br>
              exterior & interior envelopes through intelligent building science</b></p>
          </div>
        </div>
      </div>
      <div id="rightbox" class="col-lg-6">
        <div style="height:600px;">
        </div>
        </div>
    </div>
  </div>
    <div style="height: 140px; background-color:#A64B8D; position:relative">
      <div class="text-center p-5" style="color:#FFFF;">
          <h3>WORK WITH EXPERTS</h3>
          <div class="text-center"><button style="background-color: #262451; color: #FFFF;" class="btn" type="submit">INQUIRE</button></div>
          </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="background-color: #262451;">
      <div class="container" style="color: #FFFF;">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CONTACT US</h3>
            <p>
              UK <br>
              Phone: 0000 000000<br>
              Email: info@asb.co.uk<br>
              Address: London, UK<br>
              UK Registration No:14178685<br>
            </p><br>
            <p>
              Qatar <br>
              Phone: +974 3070 2322<br>
              Email: info@asb.qa<br>
              Address: Doha, Qatar<br>
              Qatar Registration No: 144194<br>
            </p>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>EMAIL US</h4>
            <form action="" method="post">
              <input type="text" class="form-control mt-2">
              <input type="text" class="form-control mt-2">
              <input type="text" class="form-control mt-2">
              <input type="text" class="form-control mt-2"><br>
              <input class="btn btn-primary" type="submit" class="form-control">
            </form>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Comapny</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our expertise</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Join Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Media</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

<!--    <div class="container d-md-flex py-4">-->

<!--      <div class="me-md-auto text-center text-md-start">-->
<!--        <div class="copyright">-->
<!--          &copy; Copyright <strong><span>OnePage</span></strong>. All Rights Reserved-->
<!--        </div>-->
<!--        <div class="credits">-->
<!--          &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--          &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--          &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--          &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ &ndash;&gt;-->
<!--          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
<!--    </div>-->
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>