{% extends 'base.html' %}

{% block maincontent %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height:50px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 text-center">
                <h1>MEDIA</h1>
            </div>
        </div>
    </div>
</section>
<div style="height: 20px; background-color:#A64B8D; position:relative"></div>
<!-- End Hero -->

<main id="main">

<!--    row 1-->
<div class="row">
    <div id="" class="col-lg-6 p-5">
        <div class="container" data-aos="zoom-in">
            <div class="">
                <h1><b>TITLE</b></h1><br>
                <p style="font-size: 14px; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris faucibus, mauris nec facilisis mollis, justo enim elementum leo, quis blandit quam eros in
                    dui. Sed et dignissim urna. Pellentesque luctus suscipit arcu, in tincidunt lorem ultricies tempor.
                    Nunc diam libero, pulvinar eu luctus ac, elementum eget
                    nisi. <br><br>
                    Sed varius dui et lacus consequat aliquam. Quisque eget magna nec velit tristique sollicitudin ut
                    vitae mauris. Aenean porta justo odio, non blandit ex laoreet at. Aenean sit amet vestibulum sapien.
                    Pellentesque nibh nibh, efficitur eu dictum sit amet, ultrices nec ex. Quisque sit amet odio nec
                    nisl consequat
                    auctor. Nullam posuere mollis libero, nec porta massa euismod quis. Pellentesque commodo orci sit
                    amet lacinia tincidunt.</p>
            </div>
        </div>
    </div>
    <div id="" class="col-lg-6 media_row_1_col_2"></div>
</div>

<!--    row 2 -->
<div class="row">
    <div id="" class="col-lg-7 media_row_2_col_1"></div>
    <div id="" class="col-lg-5 p-5">
        <div class="container" data-aos="zoom-in">
            <div class="">
                <h1><b>TITLE</b></h1><br>
                <p style="font-size: 14px; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris faucibus, mauris nec facilisis mollis, justo enim elementum leo, quis blandit quam eros in
                    dui. Sed et dignissim urna. Pellentesque luctus suscipit arcu, in tincidunt lorem ultricies tempor.
                    Nunc diam libero, pulvinar eu luctus ac, elementum eget
                    nisi. <br><br>
                    Sed varius dui et lacus consequat aliquam. Quisque eget magna nec velit tristique sollicitudin ut
                    vitae mauris. Aenean porta justo odio, non blandit ex laoreet at. Aenean sit amet vestibulum sapien.
                    Pellentesque nibh nibh, efficitur eu dictum sit amet, ultrices nec ex. Quisque sit amet odio nec
                    nisl consequat
                    auctor. Nullam posuere mollis libero, nec porta massa euismod quis. Pellentesque commodo orci sit
                    amet lacinia tincidunt.</p>
            </div>
        </div>
    </div>
</div>

<!-- Invite Section -->
<div class="p-3 invite">
    <div class="text-center" style="color:#FFFF;">
        <h3>WORK WITH EXPERTS</h3>
        <div class="text-center"><button style="background-color: #262451; color: #FFFF;" class="btn"
                type="submit">INQUIRE</button></div>
    </div>
</div>
<!-- End Invite Section -->
</main>
<!-- End #main -->

{% endblock maincontent %}