{% extends 'base.html' %}


{% block maincontent %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height:50px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 text-center">
                <h1>OUR EXPERTISE</h1>
            </div>
        </div>


    </div>
    </div>
</section>
<div style="height: 20px; background-color:#A64B8D; position:relative"></div>
<!-- End Hero -->

<main id="main" class="p-5">
    <!-- ======= ALUMINIUM Section ======= -->
    <div class="container" data-aos="zoom-in">
        <div class="text-center pb-4">
            <h1><b>ALUMINIUM FACADE SYSTEMS</b></h1><br>
            <p style="font-size: 14px; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                faucibus, mauris nec facilisis mollis, justo enim elementum leo, quis blandit quam eros in dui. Sed
                et dignissim urna</p>
        </div>
    </div>
    <!-- End ALUMINIUM Section -->
    <!-- POLICIES Section -->
    <div class="row content">
        <!--    row 1   -->
        <div class="row">
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_pink_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>CURTAIN WALLS</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
            <div id="" class="col-lg-4 exp_right_block"></div>
        </div>
        <!--    row 2   -->
        <div class="row pt-2">
            <div id="" class="col-lg-4 exp_left_block"></div>
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_purple_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>SKY LIGHT</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--    row 3   -->
        <div class="row pt-2">
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_pink_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>DOORS AND WINDOWS</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
            <div id="" class="col-lg-4 exp_right_block"></div>
        </div>
        <!--    row 4   -->
        <div class="row pt-2">
            <div id="" class="col-lg-4 exp_left_block"></div>
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_purple_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>CLADDING</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--    row 5   -->
        <div class="row pt-2">
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_pink_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>CANOPIES</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
            <div id="" class="col-lg-4 exp_right_block">
            </div>
        </div>
        <!--    row 6   -->
        <div class="row pt-2">
            <div id="" class="col-lg-4 exp_left_block">
            </div>
            <div id="" class="col-lg-8" style="height:250px;">
                <div class="exp_purple_block">
                    <div class="p-5" style="color:#FFFF;">
                        <h3><b>DECORATIVE METAL</b></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End POLICIES Section -->
    <!-- ======= INTERIOR Section ======= -->
    <div class="container" data-aos="zoom-in">
        <div class="text-center pb-4 pt-4">
            <h1><b><br>INTERIOR GLASS WORKS</b></h1><br>
            <p style="font-size: 14px; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                faucibus, mauris nec facilisis mollis, justo enim elementum leo, quis blandit quam eros in dui. Sed
                et dignissim urna</p>
        </div>
    </div>
    <!--    row 1   -->
    <div class="row">
        <div id="" class="col-lg-8" style="height:250px;">
            <div class="exp_pink_block">
                <div class="p-5" style="color:#FFFF;">
                    <h3><b>PARTITIONS</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                </div>
            </div>
        </div>
        <div id="" class="col-lg-4 exp_right_block"></div>
    </div>
    <!--    row 2   -->
    <div class="row pt-2">
        <div id="" class="col-lg-4 exp_left_block"></div>
        <div id="" class="col-lg-8" style="height:250px;">
            <div class="exp_purple_block">
                <div class="p-5" style="color:#FFFF;">
                    <h3><b>BALUSTRADES & RAILINGS</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Interior Section -->
    <!-- Steel Section -->
    <div class="container" data-aos="zoom-in">
        <div class="text-center pb-4 pt-4">
            <h1><b><br>STEEL STRUCTURES</b></h1><br>
            <p style="font-size: 14px; color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                faucibus, mauris nec facilisis mollis, justo enim elementum leo, quis blandit quam eros in dui. Sed
                et dignissim urna</p>
        </div>
    </div>
    <!--    row 1   -->
    <div class="row">
        <div id="" class="col-lg-8" style="height:250px;">
            <div class="exp_pink_block">
                <div class="p-5" style="color:#FFFF;">
                    <h3><b>STAIRS</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                </div>
            </div>
        </div>
        <div id="" class="col-lg-4 exp_right_block">
        </div>
    </div>
    <!--    row 2   -->
    <div class="row pt-2">
        <div id="" class="col-lg-4 exp_left_block"></div>
        <div id="" class="col-lg-8" style="height:250px;">
            <div class="exp_purple_block">
                <div class="p-5" style="color:#FFFF;">
                    <h3><b>LADDERS</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                </div>
            </div>
        </div>
    </div>
    <!--    row 3   -->
    <div class="row pt-2">
        <div id="" class="col-lg-8" style="height:250px;">
            <div class="exp_pink_block">
                <div class="p-5" style="color:#FFFF;">
                    <h3><b>PLATFORMS</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In aliquam libero tortor sLorem ipsum dolor sit amet,<br> consectetur adipiscing
                            elit. In aliquam libero tortorLorem ipsum dolor sit
                            amet, consectetur adipiscing elit. In aliquam libero tortorLorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit. In aliquam libero tortor
                        </p>
                </div>
            </div>
        </div>
        <div id="" class="col-lg-4 exp_right_block">
        </div>
    </div>
    <!-- End Steel Section -->
</main>
<!-- End #main -->
<!-- Invite Section -->
<div class="invite">
    <div class="text-center p-3" style="color:#FFFF;">
        <h3>WORK WITH EXPERTS</h3>
        <div class="text-center"><button style="background-color: #262451; color: #FFFF;" class="btn"
                type="submit">INQUIRE</button></div>
    </div>
</div>
<!-- End Invite Section -->

{% endblock maincontent %}